---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Custom styles
@import "bulma";

// Typography
$font-color: #303937;
$green: #629080;
$pink: #FDE2DF;
$magenta: #EC918E;

body {
  color: $font-color !important;  
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  margin: 1rem auto 1.5rem;
}

h4 {
  color: $green !important;
  letter-spacing: 2;
}

p {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
}

.button {
  border: none;
  border-radius: 0;
  background-color: $pink;
  padding: 30px 30px;
  font-family: "futura-pt";
  font-weight: 500;
  letter-spacing: 2;
  font-size: 1.2rem;
  color: $green;
  box-shadow: 5px 5px $magenta;
  margin-top: 16px;
  
  &:hover, &:focus {
    color: $magenta;
    border: none;
  }
  
  &:active {
    background-color: $magenta;
    color: $pink;
    border: none;
    box-shadow: 5px 5px $pink;
  }
}

.hour {
  font-family: futura;
  color: $magenta !important;
  font-weight: 500;
  letter-spacing: 1.25;
  margin-bottom: 0.5rem !important;
}

.location {
  margin: 0 !important;
}


// GOOGLE MAPS
.map-container {
	width: 100%;
  box-shadow: 5px 5px $green;
  margin: 56px auto;
}
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

